body{
background-color: rgba(250, 7, 7, 0.979);
   margin:10px;
width: 500px;
height: 200px;
}

h1{
    color:#ffffff ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    }
    label{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: large;
        text-transform: capitalize;
        color: #ffffff;
    }
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="date"]
        {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width:200px;
 height:40px;
 color: #000000;
 background-color: #ffffff;
 border: none;
 border-radius: 10px;
  margin-bottom: 10px;
 padding-left: 10px; 
    }
    input[type="radio"]{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bolder;
        }
    textarea{
 width:200px;
 height:40px;
 color: #000000;
 background-color: #ffffff;
 border: none;
 border-radius: 10px;
  margin-bottom: 10px;
 padding-left: 10px; 

    }
    button{
              width:100px;
 height:40px;
 color: #000000;
 background-color: #2eee2e;
 border: none;
 border-radius: 10px;
  margin-bottom: 10px;
 padding-left: 10px; 
 text-transform: uppercase;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    button:hover{
        background-color: green;
    }
  
