 body {
 background-color: rgba(255, 255, 255, 0.959);
 justify-content: center;
 align-items: center;
 margin: 0px;
 display: flex;
 }
 p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-transform: capitalize;
font-size:15px;
color: #ffffff;
 }
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}
 form {
 width:50 px;
 height:700 px;
 border: none;
 color: #ffffff;
 background-color: rgb(107, 7, 7);
 border-radius: 20px;
 padding-top:0px;
 padding-left: 2px;
 padding-bottom:40px;
 }
 input{
 width: 200px;
 height: 40px;
 color: #ffffff;
 background-color:#f3f0f0;
 border: none;
 border-radius: 10px;
 display: block;
 margin-bottom: 10px;
 padding-left: 10px;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 input:focus {
 background-color: #f3f0f0;
 border: 1px solid #b1e1e4;
 }
 label{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

 button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bold;
width: 150px;
height: 40px;
border-radius: 10px;
 }
 button:hover{
    background-color: rgba(13, 216, 13, 0.63);

 }
 fieldset{
height:530px;

 }